[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/RxCpp"]
	path = external/RxCpp
	url = https://github.com/Reactive-Extensions/RxCpp.git
